<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="box centered">
          <%= image_tag(@user.avatar_thumbnail, class: "icon_150") %>
            <div class="title is-3">
              <%= "#{@user.firstname} #{@user.lastname}"%>
            </div>
          <%= render 'friend_request_logic' %>
        </div>
        <%= render 'posts/feed' %>
      </div>
    </div>
  </div>
</div>