<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="message">
          <div class="message-header">
            <%= "#{@user.firstname} #{@user.lastname}"%>
          </div>
          <div class="message-body">
            <%= render 'friend_request_logic' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>