<div class="box">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <%= image_tag(current_user.avatar_icon, class: "icon_50", style: "margin-right: 0.5em") %>
        <div class="title is-5">
          Write a new post
        </div>
      </div>
    </div>
  </div>
  <%= form_with(model: @post, method: :post) do |f| %>
    <%= f.text_area :body, placeholder: "What's on your mind, #{current_user.firstname}?", class: "textarea" %>
    <br />
    <%= f.submit "Create", class: "button is-info" %>
  <% end %>
</div>