/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bulma";

.navbar {
   background-color:royalblue;
 }

.navbar-brand .title {
  color: white;
}

.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:1%;
  content: attr(data-count);
  font-size:50%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width:2em;
  font-weight:bold;
}

.rounded-circle {
  border-radius: 50%;
}

.icon_50 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.icon_150 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.centered {
  text-align: center;
}

.divider {
  background-color: steelblue;
  margin: none;
  padding: 0.25rem 1.25rem 0.25rem 1.25rem;
  color: white;
}
.divider{
  .far{
    color: white;
    margin-right: 0.25rem;
  }
  .fas{
    margin-right: 0.25rem;
    color: white;
  }
}

.box-container {
  padding: none;
  border-radius: 10px;
  margin-bottom: 1.25rem;
  box-shadow: 2px 5px 10px 0px rgba(200,200,200, 0.35);
}

.box-top {
  border-radius: 10px 10px 0px 0px;
  box-shadow: none;
  margin: none;
  padding: 1.25rem;
  border: 1px solid gainsboro;
  border-bottom: none
  
}

.box-bottom {
  border: 1px solid gainsboro;
  border-top: none;
  box-shadow: none;
  border-radius: 0px 0px 10px 10px ;
  margin: none;
  padding: 1.25rem;
  background-color:aliceblue;

  .box {
    box-shadow: none;
  }
  
}